<html>
    
    <%- include('../partials/head.ejs') %>

    <body>

        <%- include('../partials/nav.ejs') %>
        <h1> Title : <%= title %> </h1>

        <%- include('page1-carousel.ejs') %>

        <div class="heading">DEALS OF THE DAY</div>

        <%- include('page1-gallery.ejs') %>

        <%- include('../partials/footer.ejs') %>
    </body>

</html>